# Using Highcharts in a Notebook
Below is a snippet that allows you to use HC in a Jupyter Notebook.

In [15]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(6,4),columns=list('ABCD')) # fake data
df

          A         B         C         D
0 -0.081099  1.178445 -0.748063 -0.099681
1 -0.247771 -0.493052 -1.134122 -0.021503
2 -0.399399  0.252833  0.325605  0.914243
3  0.772000 -0.254464  2.700875 -0.625482
4 -0.384878 -0.339242 -0.042553  1.380783
5  1.747982  1.254031 -0.178781 -0.014573

In [16]:
from IPython.display import Javascript

In [17]:
%%javascript
require.config({
    paths: {
        hc: '//code.highcharts.com/highcharts'
    }
});

In [22]:
%%javascript
require(['hc'], function(hc) {
    element.append('<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>');
    Highcharts.chart('container', {
        title: {
            text: 'Monthly Average Temperature',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: WorldClimate.com',
            x: -20
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Temperature (째C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '째C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'New York',
            data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
        }, {
            name: 'Berlin',
            data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
        }, {
            name: 'London',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
});