# Pandas Snippets
This Notebook is a collection of pandas snippets and tips and tricks that I've learned over the years of heavy use. Hope you find it helpful!

In [3]:
import pandas as pd
import numpy as np

In [5]:
# create a dummy DataFrame
df = pd.DataFrame(np.random.randn(6,4),columns=list('ABCD')) # fake data
df

          A         B         C         D
0 -0.225501  0.765238  0.588413 -0.447966
1  0.858046  0.425367  1.011932 -0.566592
2  1.582430  1.668254 -0.051374 -0.518929
3 -0.006172  1.478851 -0.756709  0.624001
4  0.922828 -1.282439  0.005274 -0.707089
5  0.005342  0.114874  1.854388 -0.096729

In [ ]:
# often times, 
df.replace([np.inf, -np.inf], np.nan, inplace=True) # convert inf to nan