# Pandas-Highcharts
None of the current major visualization platforms serve me well.

 - Python based (seaborn, mpl): Ugly and not interactive.
 - JS based (d3, plotly): Either ugly or not easy.

Highcharts is my favorite package because it looks attractive out of the box (though I've recently discovered dimple and I like what I see) and is pretty simple and powerful. I also recently discovered python-highcharts, which provides a nice interface to creating Highcharts in pandas.

Below is a quick example of converting a pandas DataFrame into a Highchart using the function df_to_hc. Hope to show more complex examples soon.

In [3]:
import pandas as pd
import pdhc as ph

In [4]:
data = [['Year 1800', 107, 31, 635, 203, 2],
        ['Year 1900', 133, 156, 947, 408, 6],
        ['Year 2008', 973, 914, 4054, 732, 34],
        ['Year 2012', 1052, 954, 4250, 740, 38]]
cols = ['Year', 'Africa', 'America', 'Asia', 'Europe', 'Oceania']

In [5]:
df = pd.DataFrame(data,columns=cols) # fake data
df.set_index('Year', inplace=True)
df

           Africa  America  Asia  Europe  Oceania
Year
Year 1800     107       31   635     203        2
Year 1900     133      156   947     408        6
Year 2008     973      914  4054     732       34
Year 2012    1052      954  4250     740       38

In [7]:
ph.df_to_hc(df)